<h3>Color Post</h3>

<EditForm Model="@colorPostDTO" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="property1">Name:</label>
        <InputText id="property1" @bind-Value="@colorPostDTO.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="property2">OptionType:</label>
        <InputSelect id="property2" @bind-Value="@colorPostDTO.OptionType" class="form-control">
            @foreach (var option in Enum.GetValues(typeof(OptionType)))
            {
                <option value="@option">@option</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="property3">Hex TextColor:</label>
        <InputText id="property3" @bind-Value="@colorPostDTO.TextColor" class="form-control" />
    </div>

    <div class="form-group">
        <label for="property4">Hex BGColor:</label>
        <InputText id="property4" @bind-Value="@colorPostDTO.BGColor" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

@code {
    private ColorPostDTO colorPostDTO = new ColorPostDTO();
    [CascadingParameter(Name = "Service")] public UIServiceAdmin Service { get; set; }

    private async Task HandleValidSubmit()
    {
        if (Service != null)
        {
            await Service.PostColor(colorPostDTO);
        }
        else
        {
            // Handle the case where AdminService is null
        }
    }
}